<ion-view view-title="Métronome" ng-controller="metroController as metroCtrl">
 	<ion-content padding="true" class="has-header">
        
            <gc-metronome></gc-metronome>
        
        <form>
            <ion-item class="range range-positive">Tempo
                <input type="range" value="90" min="0" max="200" name="tempo" ng-model="metroCtrl.tempo">{{metroCtrl.tempo}}
            </ion-item>
            <label class="item item-select" name="Note">
                <span class="input-label">Note</span>
                <select ng-model="metroCtrl.note" ng-options="note for note in metroCtrl.listeMesure" ></select>
            </label>
            <label class="item item-select" name="mesure">
                <span class="input-label">Mesure</span>
                    <select ng-model="metroCtrl.mesure" ng-options="note for note in metroCtrl.listeMesure" ></select>
            </label>
        </form>
        <button class="button  button-icon button-block button-large icon-left ion-play button-full">Groove !</button>
    </ion-content>
</ion-view>